In [1]:
import pandas as pd
import os
import sys
sys.path.insert(0, os.path.abspath('..'))
from utils.files_io import load_jsonl

In [2]:
USERS_PATH = '../data/users.jsonl'
DELIVERIES_PATH = '../data/deliveries.jsonl'
SESSIONS_PATH = '../data/sessions.jsonl'
PRODUCTS_PATH = '../data/products.jsonl'

In [3]:
users = pd.DataFrame(load_jsonl(USERS_PATH))
users.head()

   user_id                name      city                  street
0      102  Julianna Kościelak     Konin        pl. Ludowa 70/77
1      103       Sonia Greszta     Radom  ulica Wiatraczna 24/55
2      104       Ryszard Kusek    Mielec      ul. Głowackiego 41
3      105       Antoni Pawela    Gdynia    aleja Krasickiego 00
4      106       Sandra Kleban  Warszawa        al. Sokola 33/29